{% extends "index.html" %}
{% block encabezado %}
{% include "encabezado.html" %}
{% endblock%}
{% block menu %}
{% include "empleado/menu.html"%}
{%endblock%}
{% block contenido%}
<h3 class="text-center mt-3 fw-bold"> REGISTRO DE SOLICITUD TECNICO</h3>
<div class="container mt-5">
    <div class="row justify-content-center mt-5 was-validated">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre:</label>
                        <input type="text" class="form-control" id="nombre" placeholder="Ingresa tu nombre">
                    </div>
                    <div class="mb-3">
                        <label for="documento" class="form-label">Documento:</label>
                        <input type="text" class="form-control" id="documento" placeholder="Ingrese su Documento">
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Informacion del caso</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                      </div>
                    <div class="mb-3">
                        <label for="tipoArea" class="form-label">Tipo de Área</label>
                        <select class="form-select" id="tipoArea">
                            <option value="administrativa">Administrativa</option>
                            <option value="tecnica">Técnica</option>
                            <option value="operativa">Salon</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="rol" class="form-label">Rol</label>
                        <select class="form-select" id="rol">
                            <option value="empleado">Empleado</option>
                            <option value="supervisor">Administrador</option>
                            <option value="gerente">Tecnico</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success w-100">Enviar</button>
                </form>   
            
            
            </div>
            

        </div>

    </div>




    {%endblock%}
    {% block piePagina %}
    {% include 'piePagina.html' %}
    {%endblock%}